clientFolder/mainClient.o
Test/test.txt
serverFolder/server.o
serverFolder/server
serverFolder/mainServer.o
serverFolder/list.o
clientFolder/mainClient.o
clientFolder/mainClient.o
clientFolder/mainClient.o
clientFolder/cliet
clientFolder/client.o
clientFolder/client
clientFolder/client
.vscode/settings.json
.vscode/c_cpp_properties.json
a.out
clientFolder/client
clientFolder/mainClient.o
